<div class="page-header">
  <h1>Application #<%= @application.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Job</dt>
  <dd><%= @application.job_id %></dd>

  <dt>Mom</dt>
  <dd><%= @application.mom_id %></dd>

</dl>
